<form id="s3-upload-form" action="{{ __SELF__.api_basepath }}/upload?bucket={{ __SELF__.property('bucket') }}"
    method="POST" enctype="multipart/form-data">
    <div class="form-outline mb-3">
        <i class="far fa-folder-open trailing"></i>
        <input id="s3-upload-file-prefix" class="form-control" type="text" name="prefix" placeholder="Path Prefix"
            autocomplete="off" />
        <label class="form-label" for="s3-upload-file-prefix">Path Prefix</label>
    </div>
    <input id="s3-upload-file-input" class="form-control mb-3" type="file" multiple="multiple" name="filename[]" />
    <!-- submit -->
    <button class="btn btn-sm shadow-0" type="submit" value="SUBMIT" form="s3-upload-form">
        <i class="fas fa-cloud-upload-alt"></i>
        Upload
    </button>
    <!-- Progress bar -->
    <div class="row align-items-center">
        <div class="col">
            <div class="s3-progress">
                <div id="s3-progress-bar" class="progress-bar progress-bar-striped progress-bar-animated"
                    aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" role="progressbar">
                </div>
            </div>
        </div>
    </div>
    <!-- Display upload status -->
    <div class="row align-items-center">
        <div class="col">
            <div class="text-center" id="s3-uploadStatus"></div>
        </div>
    </div>
</form>

{% put scripts %}
<script>
    jQuery(function () {
        jQuery('#s3-upload-form').on('submit', function (e) {
            e.preventDefault();

            let form_data = new FormData(this);

            jQuery.ajax({
                xhr: function () {
                    var xhr = new window.XMLHttpRequest();
                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = Math.ceil((evt.loaded / evt.total) * 100);
                            // console.log(percentComplete);
                            jQuery("#s3-progress-bar").width(percentComplete + '%');
                            jQuery("#s3-progress-bar").html(percentComplete + '%');
                        }
                    }, false);
                    return xhr;
                },
                url: jQuery(this).attr("action"),
                type: jQuery(this).attr("method"),
                enctype: jQuery(this).attr("enctype"),
                timeout: 3600 * 1000,
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                beforeSend: function () {
                    jQuery("#s3-progress-bar").width('0%');
                },
                success: function (data) {
                    // console.log(data);

                    if (data[0].status == '200') {
                        // jQuery('#s3-upload-form')[0].reset();
                        jQuery('#s3-uploadStatus').html('<small class="muted" style="color:#28A74B;">Files has uploaded successfully!</small>');
                    } else {
                        jQuery('#s3-uploadStatus').html('<small class="muted" style="color:#EA4335;">Something went wrong</small>');
                    }

                    let message = "Successfully Uploaded:\n";

                    data.forEach(element => {
                        message += "   - " + element.file + "\n";
                    });

                    jQuery.wn.flashMsg({ text: message, class: 'success' })
                    // alert(message);
                },
                error: function (data) {
                    console.log(data);

                    jQuery('#s3-uploadStatus').html('<small style="color:#EA4335;">File upload failed, please try again.</small>');

                    jQuery.wn.flashMsg({ text: 'File upload failed, please try again.', class: 'error' })
                    // alert(data.responseText);
                }
            });
        });
    });
</script>
{% endput %}
