{% put styles %}
<style>
    .s3-file-list-first-row {
        padding-left: 0px;
        padding-right: 0px;
    }

</style>
{% endput %}

<!-- prefix crumbs -->
<p id="s3browser-crumb">
    <a href="{{ __SELF__.property('baseuri') }}">
        {{ __SELF__.bucket }}
    </a>

    {% set last_crumb='' %}
    {% for crumb in __SELF__.getBreadCrumbs() %}

    {% if last_crumb != '' %}
    {% set crumb_href='/' ~ [__SELF__.property('baseuri'), last_crumb, crumb] | join('/') | trim('/', side='left') %}
    {% set last_crumb=([last_crumb, crumb] | join('/')) %}
    {% else %}
    {% set crumb_href='/' ~ [__SELF__.property('baseuri'), crumb] | join('/') | trim('/', side='left') %}
    {% set last_crumb=crumb %}
    {% endif %}

    /
    <a href="{{ crumb_href }}">
        {{ crumb }}
    </a>
    {% endfor %}
</p>

<!-- file list view -->
<table id="s3browser-files" class="table table-sm table-hover">
    <!-- table headers -->
    <tr>
        <th class="s3-file-list-first-row"></th>
        <th>Name</th>
        <th>Size</th>
        <th>Last Modified</th>
    </tr>
    <!-- folders in the list -->
    {% for prefix in __SELF__.getPrefixes() %}
    <tr class="s3browser-folder-tr">
        <td class="text-center s3-file-list-first-row">
            <a id="s3browser-download-btn" class="btn btn-sm shadow-0"
                href="{{ __SELF__.api_basepath }}/zip?bucket={{ __SELF__.bucket }}&prefix={{ last_crumb }}{{ prefix }}"
                target="_blank" rel="noopener noreferrer" data-mdb-toggle='tooltip' title="Download folder">
                <i class="fas fa-cloud-download-alt"></i>
            </a>
        </td>
        <td>
            <a href="/{{ [__SELF__.property('baseuri'), last_crumb, prefix] | join('/') | trim('/', side='left')}}">
                {{prefix}}/
            </a>
        </td>
        <td> -- </td>
        <td> -- </td>
    </tr>
    {% endfor %}
    <!-- files in the list -->
    {% for object in __SELF__.getObjects() %}
    <tr class="s3browser-file-tr" value="{{ object.Key }}">
        <td class="text-center s3-file-list-first-row">
            <div class="btn-group btn-group-sm shadow-0">
                <a id="s3browser-download-btn" class="btn btn-sm shadow-0"
                    href="{{ __SELF__.api_basepath }}/download?bucket={{ __SELF__.bucket }}&object_key={{ object.Key | url_encode }}"
                    target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-cloud-download-alt" title="Download file"></i>
                </a>
                <a id="s3browser-delete-btn" class="btn btn-sm shadow-0"
                    href="{{ __SELF__.api_basepath }}/delete?bucket={{ __SELF__.bucket }}&object_key={{ object.Key | url_encode }}"
                    target="_blank" rel="noopener noreferrer">
                    <i class="fas fa-trash" title="Delete file"></i>
                </a>
            </div>
        </td>
        <td class="s3browser-file-name-td">
            <a href="/{{ [__SELF__.property('baseuri'), last_crumb, prefix] | join('/') | trim('/', side='left')}}"
                data-request="{{ __SELF__ }}::onFileDetails"
                data-request-update="'{{ __SELF__ }}::file-details': '#fileDetails'"
                data-request-data="file_name: '{{ object.Key }}', short_name: '{{ object.ShortName }}'"
                data-request-success="document.getElementById('fileDetails').hidden = false;">
                {{object.ShortName}}
            </a>
        </td>
        <td class="s3browser-file-size-td" value="{{ object.Size }}">{{ object.Size }} - Bytes</td>
        <td class="s3browser-file-modified-td">{{ object.LastModified }}</td>
    </tr>
    {% endfor %}
</table>
